<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/PainelControle.css")

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <div id="throbber" style="display:none; min-height:120px;"></div>
        <div id="noty-holder"></div>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" style="width:100%;" href="https://bryanrojasq.wordpress.com">
                            MINHAS FINANÇAS
                        </a>

                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li>

                        <p href="#" style="padding-right:50px;">
                            SEGUNDA-FEIRA, 27 DE ABRIL
                        </p>
                    </li>
                    <li>

                        <p href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats">
                            <i class="fa fa-bar-chart-o"></i>
                        </p>
                    </li>

                    <li class="dropdown">
                        <p href="#" class="dropdown-toggle" data-toggle="dropdown">@Session["NomeUser"] @Session["SobrenomeUser"] <b class="fa fa-angle-down"></b></p>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-fw fa-user"></i> Editar perfil</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-cog"></i> Mudar senha</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Login/Logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-search"></i> LISTAS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                            <ul id="submenu-1" class="collapse">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> GERAL - TODOS OS GASTOS</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> POR CATEGORIA</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> POR NECESSIDADE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  GRÁFICOS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                            <ul id="submenu-2" class="collapse">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> GERAL</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> POR CATEGORIA</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> POR NECESSIDADE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/PageForm"><i class="fa fa-fw fa-plus"></i>  INCLUIR NOVO GASTO</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-close"></i>  REMOVER GASTO</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(".side-nav .collapse").on("hide.bs.collapse", function () {
                    $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
                });
                $('.side-nav .collapse').on("show.bs.collapse", function () {
                    $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
                });
            })

        </script>

        @RenderBody()
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
